body {
    font-family: "roboto", sans-serif;
}

.alert-container .col-12{
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #e0b11d;
    border-color: #e0b11d;
    color: #fff0f0;
}

.callout-container {
    height: 100vh; /* vh stand for viewport height */

    background: url(../images/whisky-background.jpg) no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex; 
  align-items: center;
  justify-content: center; 
  /* This is used to move a box to the middle of the page  */

  position: relative;

}

.quotes-container {

}

.features-container {
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Buttons  */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #a77c2e;
    border-color: #a77c2e;
}

.btn--red:hover, 
.btn--red:active,
.btn--red.focus,
.btn--red:active:focus {
    background-color: #6f4c0e;
    border-color: #6f4c0e;
}

/* Block dividers  */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider--brown {
   background-color: #a77c2e; 
}

.block-divider--short {
    width: 35px;
}

/* Navbar */

.navalert-container {
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: black;
    z-index: 1; 
    /* The z-index is used to make the navbar come before the other content  */
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
} 
/* jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #cccccc;
}


.jumbotron .small, small {
    font-size: 60%;
    font-style: italic;
    color: white;
}